<div class="jumbotron">
    <h1>PNL</h1>
    <p class="lead">This Passenger Name List (PNL) Web API has been done as an assessment task.</p>
    <p>This provides three Web API's that you can use to get or add Passenger details. You can view the basic documentations of the API's @Html.ActionLink("here", "Index", "Help", new { area = "" }, null).</p>
    <p>If you need more interactive documentation with viewing results, you can use this <a href="/Swagger/ui/index">Swagger documentation</a>.</p>
</div>

